@namespace FamilyBoard.Shared
@inherits LayoutComponentBase

<div class="grid-main-wrapper">

    <div class="grid-header">
        <LoginDisplay />
    </div>

    <div class="grid-body">
        @Body
    </div>

</div>
